body {
  margin: 0;
  padding: 0;
  background-image: url(https://img.freepik.com/photos-gratuite/ballon-football-se-desintegrant-espace-copie_23-2150169914.jpg?semt=ais_hybrid&w=740);
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;;
}

header {
  background: #557eca;
  padding: 2rem;
  text-align: center;
  animation: fadeInDown 1s ease-out;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 1s;
}

nav {
  background: #10cc48;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #e30613;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

nav a:hover {
  color: #e30613;
}

nav a:hover::after {
  width: 100%;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  opacity: 0;
  transition: opacity 1s ease-out;
}

section h2 {
  color: #1ae045;
}

footer {
  background: #222;
  color: #aaa;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* ANIMATIONS */
@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-30px); }
  100% { opacity: 1; transform: translateY(0); }
}
